/* .mixer {
  height: 100vh;
} */

/* .channel {
  width: 1em;
  height: 50%;
  color: #483ee4;
} */

/* the slider bar */
.mixer {
  margin: 5% 10%;
  border: #483ee4aa;
      border-style: double;
      border-radius: 1em;
      padding: 1em;
}
.channel {
  background-color: #444;
  text-align: center;
  border-radius: 2em;
  border: #358bf047;
  border-width: 2px;
  border-style: solid;
  margin-top: 1em;
}

.slider {
  position: relative;
  width: 100%;
  height: .5em;
  margin: 1.5em auto;
  background-color: #483ee4;
  border-radius: 0.5em;
  box-sizing: border-box;

  font-size: 2em;

  -ms-touch-action: none;
      touch-action: none;
}

/* the slider handle */
.slider:before {
  content: attr(value);
  display: block;
  position: relative;
  top: -0.75em;

  width: 2em;
  height: 2em;
  margin-left: -1em;
  border: solid 0.25em #444444cf;
  border-radius: 1em;
  background-color: inherit;
  box-sizing: border-box;
  padding-top: .2em;
  text-align: center;
}

/* display the value */
.slider:after {
  content: attr(data-value);
  position: absolute;
  top: -1.5em;
  width: 2em;
  line-height:1em;
  margin-left: -1em;
  text-align: center;
}

.button {
  border-radius: 1.5em;
  padding: 1em;
  background-color: #483ee4;
  color: #fff;
  border-width: 0.3em;
  border-style: double;
}
input {
  margin: 1em;
}
select {
  border-radius: 1.5em;
  padding: 1em;
  margin: 1em;
  background-color: #358bf047;
  color: #fff;
}
.graph {
  position: absolute;
  width: 100%;
  height: 100%;
}
.patchbay {

}
body {
  background-color: #222;
  color: #ddd;

}
